# PathFlow Environment Variables Template
NODE_ENV=production
PORT=3000

# SQLite / Postgres Database URL
DATABASE_URL="file:./dev.db"

# Master Developer API Key
PATHFLOW_API_KEY="pf_live_suyash_secret_9942"

# Session Secret Key
NEXTAUTH_SECRET="pathflow_super_secret_jwt_key_9942"

# Telemetry Endpoint
PATHFLOW_ENDPOINT="http://localhost:3000/api/v1"
